@import "custom.min.css";

$cream: #DFDFDF;
$blacked: #222222;
$lowcream: #B1B1B1;

$impact: 'Impact', Charcoal, Arial Black, Gadget, sans-serif;
$baskerville: 'Baskerville', 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
$lato: 'Lato', sans-serif;
$source: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

html, body {
  background-color: $cream;
  color: $blacked;
  font-family: $lato;

  #home {
    a {
      text-transform: uppercase;
      font-family: $lato;
      font-weight: 300;
      font-size: 20px;
      color: $blacked;

      &:hover, &:active, &:focus {
        text-decoration: none;
        text-shadow: 0px 0px 0px $blacked;
      }

      &.btn-circle {
        width: 50px;
        height: 50px;
        padding: 0px;
        font-size: 34px!important;
        line-height: 1.33;
        border-radius: 25px;
        color: $blacked;
      }
    }

    h1 {
      font-family: $lato;
      text-transform: uppercase;
      &.title-part {
        @media (min-width: 768px) {
          font-size: 10vw;
        }
        @media (min-width: 970px) {
          font-size: 9vw;
        }
        @media (min-width: 1170px) {
          font-size: 6vw;
        }
        @media (max-width: 768px) {
          font-size: 11vw;
        }
      }

      &.slabText {
        font-family: $impact;
        text-transform: uppercase;
        line-height: 1;

        .amp {
          font-family: $baskerville;
          font-style: italic;
          font-weight: lighter;
          font-size: 110%;
        }

        .thin {
          font-family: $lato;
          font-weight: 300;
          font-size: 110%;
        }
        .lato {
          font-family: $lato;
          font-weight: normal;
          font-size: 110%;
        }
      }
    }

    h3 {
      margin-top: 0px;
      font-family: $lato;
      font-size: 36px;
      text-transform: none;
    }

    p {
      font-size: 22px;
      font-weight: 300;
    }

    .centered-not {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

// Inactive Custom Class

@media (max-width: 768px) {
  .centered {
    position: inherit;
    top: inherit;
    left: inherit;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  .row-eq-height {
    display: inherit;
  }
}

// Buttons Custom Class

.btn-custom {
  color: $cream;
  background-color: $cream;
  border-color: $cream;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: $cream;
  background-color: $lowcream;
  border-color: $lowcream;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: $lowcream;
  border-color: $lowcream;
}

.btn-custom .badge {
  color: $lowcream;
  background-color: $cream;
}
