@import "custom.min.css";

$cream: #DFDFDF;
$blacked: #222222;

$impact: 'Impact', Charcoal, Arial Black, Gadget, sans-serif;
$baskerville: 'Baskerville', 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
$lato: 'Lato', sans-serif;

html, body {
  background-color: $cream;
  color: $blacked;

  #home {
    a {
      text-transform: uppercase;
      font: $lato;
      font-weight: 100;
      font-size: 20px;
    }

    .slabText {
      font-family: $impact;
      text-transform: uppercase;
      line-height: 1;

      .amp {
        font-family: $baskerville;
        font-style: italic;
        font-weight: lighter;
        font-size: 110%;
      }

      .thin {
        font-family: $lato;
        font-weight: 300;
        font-size: 110%;
      }
      .lato {
        font-family: $lato;
        font-weight: normal;
        font-size: 110%;
      }
    }
  }
}

// Inactive class
@media (max-width: 768px) {
  .centered {
    position: inherit;
    top: inherit;
    left: inherit;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  .row-eq-height {
    display: inherit;
  }
}
